@import "katex/dist/katex.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

a {
  @apply text-primary underline-offset-4 hover:underline;
}

.container {
  @apply mx-auto w-full max-w-6xl px-4;
}

